
@import '../../scss/main';

.progressbar {

	width: 100%;
	height: 14px;
	display: flex;
	background: $lightest-mountain;
	border-bottom: 1px solid $light-mountain;

	&__block {

		width: 8px;
		height: 12px;
		background: $candy-cane;
		margin: 1px;

		&:first-of-type {
			border-radius: 2px 0 0 2px;
		}

		&--active {
			animation: blinker 2s linear infinite;
		}

	}

}
