
@import '../../scss/main';

.button {

	cursor: pointer;
	font-size: 16px;

	& b {
		font-weight: $bold;
	}

	&--deactive {
		opacity: 0.6;
	}

	&--icon {

		background-color: $candy-cane;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: $tablet-portrait) {
			font-weight: $regular;
			background: $candy-cane;
			border-radius: 25px;
			padding: 6px 15px 6px 20px;
			margin: 15px 0;
			display: flex;
			color: white;
			width: auto;
			height: auto;
		}

	}

	&--icon-loading {

		border-radius: 50%;
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../../assets/image/loader_whit_bgcandy.gif) $candy-cane no-repeat center center;
		background-size: 25px;

		@media screen and (min-width: $tablet-portrait) {
			font-weight: $regular;
			border-radius: 25px;
			padding: 6px 46px 6px 20px;
			margin: 15px 0;
			display: flex;
			color: white;
			max-width: fit-content;
			background: url(../../assets/image/loader_whit_bgcandy.gif) $candy-cane no-repeat top 5px right 10px;
			background-size: 25px;
			width: auto;
			height: auto;
		}

	}

	&--basic {
		font-weight: $regular;
		background: $candy-cane;
		border-radius: 25px;
		padding: 6px 15px 6px 20px;
		margin: 15px 0;
		display: flex;
		color: white;
		max-width: fit-content;
	}

	&--basic-loading {
		font-weight: $regular;
		border-radius: 25px;
		padding: 6px 46px 6px 20px;
		margin: 15px 0;
		display: flex;
		color: white;
		max-width: fit-content;
		background: url(../../assets/image/loader_whit_bgcandy.gif) $candy-cane no-repeat top 5px right 10px;
		background-size: 25px;
	}


	&--border {
		background: transparent;
		border: 1px solid $dark-mountain;
		border-radius: 25px;
		padding: 6px 20px;
		color: $moon-shade;
		max-width: fit-content;
		margin: 0 0 10px;
	}

	&--border-active {
		background-color: $candy-cane;
		color: white;
		border: 1px solid $candy-cane;
	}

	&--label {
		color: $moon-shade;
		font-weight: $semi-bold;
		display: flex;
		max-width: fit-content;
	}

	&--desktop-icon {

		display: none;

		@media screen and (min-width: $tablet-portrait) {
			display: block;
		}

	}

	&__icon {

		font-size: 20px !important;
		color: white;

		&--icon {

			font-size: 30px !important;

			@media screen and (min-width: $tablet-portrait) {
				font-size: 20px !important;
				margin-left: 10px;
				margin-top: 2px;
			}

		}

		&--basic {
			margin-left: 10px;
			margin-top: 2px;
		}

		&--label {
			font-size: 20px !important;
			color: $moon-shade;
			margin: 2px 0 0 10px;
		}

	}

	&--left {

		flex-direction: row-reverse;

		& .button__icon--label {
			margin: 2px 10px 0 0;
		}

	}

}
