
@import '../../scss/main';

.country-selector {

	&__control {
		width: 295px;
		border: 1px solid $dark-mountain;
		border-radius: 4px;

		&--is-focused {
			border-color: $dark-mountain !important;
			border-radius: 4px;
			box-shadow: none !important;
		}

		&:hover {
			border-color: $dark-mountain !important;
		}

	}

	&__value-container {

		background: white;

		&--has-value {
			background: $lightest-mountain;
		}

	}

	&__placeholder {
		
		color: $dark-mountain !important;
		font-size: 16px;
		line-height: 18px;

		&:before {
			font-size: 20px !important;
			line-height: 22px !important;
			font-family: 'Material Icons';
			content: 'search';
			width: 20px;
			height: 20px;
			margin-right: 5px;
			display: inline-block;
			vertical-align: top;
		}

	}

	&__indicator {

		background: $lightest-mountain;
		color: $moon-shade !important;
		
		&--has-value {
			background: $lightest-mountain;
		}

	}

	&__indicator-separator {
		display: none;
	}

	&__menu {
		margin-top: -1px !important;
		background-color: $lightest-mountain !important;
		border: 1px solid $dark-mountain;
		border-radius: 0 !important;
		border-bottom-right-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
		box-shadow: none !important;
	}

	&__option {

		text-align: left;
		text-transform: capitalize;

		&:hover {
			background-color: $lighter-mountain !important;
			border-right: 1px solid $dark-mountain;
		}

	}

	&__text {
		margin: 0 0 0 10px;
		text-transform: capitalize;
	}

}
