
@import '../../scss/main';

.personal-details {

	height: 100vh;
	width: 100%;
	max-width: 390px;
	margin: 0 auto;
	text-align: center;
	padding: 0 25px;

	&__animation {
		height: 200px;
		overflow: visible;
		margin-top: -80px;
	}

	&__title {
		
		color: $moon-shade;
		font-size: 20px;
		line-height: 25px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 30px;

		@media screen and (min-width: $tablet-landscape) {
			font-size: 24px;
			line-height: 30px;
		}

	}

	&__item {
		width: 100%;
	}

}

.form-step {

	height: 100vh;
	width: 100%;
	max-width: 390px;
	margin: 0 auto;
	text-align: center;
	padding: 0 25px;

	&__animation {
		height: 200px;
		overflow: visible;
		margin-top: -80px;
	}

	&__title {
		
		color: $moon-shade;
		font-size: 20px;
		line-height: 25px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 30px;

		@media screen and (min-width: $tablet-landscape) {
			font-size: 24px;
			line-height: 30px;
		}

	}

	&__item {
		width: 100%;
	}

}
