
@import '../../scss/main';

.home {

	height: 100vh;
	padding: 0 25px;
	text-align: center;
	position: relative;
	background: $background;

	&__header,
	&__body {

		max-width: 500px;
		margin: 0 auto;
		z-index: 2;

		@media screen and (min-width: $tablet-portrait) {
			max-width: 280px;
		}
		
	}

	&__footer {
		margin: 20px 0;
	}

	&__content {
		height: 90%;
	}

	&__box {
		background: white;
		width: 100%;
		max-width: 800px;
		border-radius: 4px;
		overflow: hidden;
	}

	&__box-content {
		height: 100%;
		padding: 0 25px;
	}

	&__logo {

		width: 100px;
		margin: 50px 0 15px 0;

		@media screen and (min-width: $tablet-portrait) {
			width: 170px;
			margin: 50px 0;
		}

	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 1;
	}

	&__panel {
		width: auto;
		height: auto;
		max-height: 530px;
		position: relative;
	}

	&__title {
		color: $moon-shade;
		font-size: 44px;
		line-height: 40px;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;

		@media screen and (min-width: $tablet-portrait) {
			margin-top: 40px;
		}

	}

	&__time {
		color: $light-mountain;
		font-size: 14px;
		font-weight: $semi-bold;

		@media screen and (min-width: $tablet-portrait) {
			margin-bottom: 40px;
		}

	}

	&__icon {
		margin: 4px;
		font-size: 14px !important;
		color: $light-mountain;
		display: inline;
		vertical-align: bottom;
	}

}
