
@import '../../scss/main';

.header {

	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	opacity:0;
	animation:fadeIn ease-in 1;
	animation-fill-mode:forwards;
	animation-duration:1s;
	animation-delay: 0.5s!important;

	& .row {
		margin-left: 0;
		margin-right: 0;
	}

	& .col { 
		padding-left: 0;
		padding-right: 0;
	}

	&__nav-item {
	
		margin: 20px 15px;

		&--hidden {
			display: none;
		}

	}

}
