
@import '../../scss/main';

.number-slider {

	margin: 0 0 20px;

	&__carousel {

		border-radius: 5px;
		border: 1px solid $dark-mountain;
		margin: -7px 0 10px;
		overflow: hidden;
		padding: 10px;
		position: relative;
		width: 300px;
		z-index: 1;

		&:before {
			content: '';
			width: 40%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 9999;
			background-image: linear-gradient(to left, transparent, white);
		}
	
		&:after {
			content: '';
			width: 40%;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 9999;
			background-image: linear-gradient(to right, transparent, white);
		}

	}

	&__item {

		&--active {
			color: rgb(239, 41, 120);
		}

	}

	&__marker {
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #EF2978 transparent transparent transparent;
		height: 0;
		margin: 0 auto;
		width: 0;
		position: relative;
		z-index: 2;
	}

}

