
@import '../../scss/main';

.tooltip-box {

	text-decoration:none;
	position:relative;
	cursor: pointer;
	position: absolute;
	top: 60px;
	right: 25px;
	width: 220px;
	opacity:0;
	opacity: 1 \9; /*just in case ie*/
	animation:fadeIn ease-in 1;
	animation-fill-mode:forwards;
	animation-duration:1s;
	animation-delay: 10s!important;

	&--hidden {
		animation:fadeOut ease-in-out 1;
		animation-fill-mode:forwards;
		animation-duration:1s;
	}

	&__inner {
		
		border-radius:6px;
		background:$moon-shade; 
		position: relative;
		width: 100%;
		min-height: 128px;
		padding: 20px;

		&:after {
			content: '';
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $moon-shade;
			position: absolute;
			top: -10px;
			right: 30px;
		}

	}

	&__image {
		width: 38px;
		height: 38px;
		border: 2px solid $moon-shade;
		border-radius: 50%;
		position: absolute;
		top: -10px;
		left: -20px;
		overflow: hidden;
	}

	&__text {

		color:white;
		font-size: 14px;
		line-height: 18px;
		font-weight: $bold;
		text-transform: uppercase;
		text-align: left;

		&--tip {
			font-style: italic;
			font-weight: $regular;
			text-transform: none;
			opacity: 0.7;
		}

		&--footer {
			font-weight: $semi-bold;
			text-align: center;
			margin-top: 20px;
		}

	}

	&__icon {
		font-size: 14px!important;
		margin-right: 5px;
	}

}
