
@import '../../scss/main';

.box {

	border: 1px solid $moon-shade;
	padding: 0 15px 15px 15px;
	margin-bottom: 30px;

	&__title {
		font-size: 12px;
		color: $moon-shade;
		font-weight: $semi-bold;
		padding: 0 10px;
		background: white;
		display: inline-block;
		position: relative;
		top: -15px;
	}

	&__list {
		text-align: left;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__list-item {

		font-size: 14px;
		color: $mountain;
		font-weight: $semi-bold;
		margin: 0 0 5px 0;

		& span {
			display: inline-block;
    		vertical-align: top;
		}

	}

	&__list-icon {
		font-size: 20px!important;
		margin-right: 5px;

		&--correct {
			color: $candy-cane;
		}

		&--incorrect {
			color: $mountain;
		}

	}

}
