
.page {
	position: absolute;
	left: 0;
	right: 0;
	opacity: 1;
	transition: transform 300ms, opacity 0.5s linear;
}
  
.fade-appear,
.fade-enter {
    transform: translate3d(100%, 0, 0);
	z-index: 1;
	visibility: visible;
	opacity: 0;
	transition: visibility 0s 2s, opacity 1s linear;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    transition: all 500ms cubic-bezier(0.200, 0.000, 0.010, 0.995);
}

.fade-exit {
	transform: translate3d(0, 0, 0);
}

.fade-exit.fade-exit-active {
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.650, 1.000);
}
