
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
	margin: 0;
	padding: 0;
	font-family:  $font;
	font-weight: $regular;
	color: $moon-shade;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	overflow: hidden;
}

h1 {
	color: $moon-shade;
	font-size: 44px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h2 {
	
	color: $moon-shade;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 10px;

	@media screen and (min-width: $tablet-landscape) {
		font-size: 24px;
		line-height: 30px;
	}

}

p {
	font-size: 16px;
	line-height: 20px;
}

a {
	color: $candy-cane !important;
	font-weight: $bold;
	text-decoration: underline !important;
}

textarea {
	resize: none !important;
}

label {
	color: $light-mountain;
	font-size: 14px;
	margin-bottom: 0 !important;
}

.link {
	color: $moon-shade !important;
	font-weight: $bold;
	text-decoration: none !important;
}

.disclaimer {
	color: $moon-shade;
	font-size: 12px;
	line-height: 15px;
}

.instruction {

	display: none;

	@media screen and (min-width: $tablet-portrait) {
		display: block;
		margin: 10px;
	}

	&__icon {
		font-size: 15px !important;
		margin: 0 5px;
	}

}

.semi-bold {
	font-weight: $semi-bold;
}

.bold {
	font-weight: $bold;
}
