
/* FONTS
=====================*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
$font : 'Source Sans Pro', sans-serif;
$regular : 400;
$semi-bold : 600;
$bold : 700;
$black : 800;


/* COLOURS
=========================*/

$moon-shade: #00335A;
$candy-cane: #ea257c;

$mountain: #718594;
$light-mountain: #D5DADE;
$lighter-mountain: #EAECEE;
$lightest-mountain: #F2F3F4;
$dark-mountain: #B3BFC9;

$sapphire: #7BA7C9;
$light-sapphire: #CADCE9;
$lighter-sapphire: #E4EDF4;

$valid: #90E4A5;
$invalid: #FC9D7B;

$background: #fbfbfb;


/* BREAKPOINTS
=========================*/

$smartphone-portrait : 320px;
$smartphone-landscape : 480px;

$tablet-portrait : 768px;
$tablet-landscape : 1024px;

$desktop-small: 992px;
$desktop-large: 1200px;

