
.error {

	height: 100vh;
	padding: 0 25px;
	text-align: center;
	position: relative;
	background: $background;

	&__footer {
		margin: 20px 0;
	}

	&__content {
		height: 90%;
	}

	&__background {
		margin-bottom: 40px;
	}

	&__title {
		
		color: $moon-shade;
		font-size: 20px;
		line-height: 25px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 30px;

		@media screen and (min-width: $tablet-landscape) {
			font-size: 24px;
			line-height: 30px;
		}

	}

	&__logo {

		width: 120px;

		@media screen and (min-width: $tablet-landscape) {
			width: 170px;
		}

	}
	
}
