
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form {

	@media screen and (min-width: $tablet-portrait) {
		margin-bottom: 40px;
	}

	&__label {
		color: $mountain;
		font-size: 14px;
		text-align: center;
		margin-bottom: 15px;
	}

	&__input-label {
		margin-left: -128px;
	}

	&__textbox {
		background: $lightest-mountain;
		border: 1px solid $light-mountain;
		border-radius: 5px;
		height: 76px;	
		width: 294px;
		color: $moon-shade;
		font-size: 16px;
		padding: 10px;
		margin: 8px 0;
		display: block;
	}

	&__input {

		background: $lightest-mountain;
		border: 1px solid $light-mountain;
		border-radius: 5px;
		height: 36px;	
		width: 225px;
		color: $moon-shade;
		font-size: 16px;
		padding: 10px;
		margin: 8px 0;
		display: block;

		&::placeholder {
			color: $mountain;
		}

	}

	&__validation {

		font-size: 10px;
		line-height: 8px;
		font-weight: $semi-bold;
		text-align: right;
		position: relative;

		&--valid {
			color: $valid;
		}

		&--invalid {
			color: $invalid;
		}

	}

	&__validation-indicator {
		content: '';
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid white;
		position: absolute;
		top: -28px;
		right: -20px;
	}

	&__validation-icon {
		font-size: 14px !important;
		margin: 7px 0 0 -11px;
	}

}
