
@import '../../scss/main';

.start-loader {
	
	margin-top: 200px;

	&__logo {
		justify-content: center;
		align-content: center;
		margin: 0 auto;
	}

	&__loading {
		width: 100%;
		max-width: 225px;
		height: 3px;
		background:  $lightest-mountain;
		position: relative;
		margin: 15px auto;
	}

	&__loaded {
		width: 30%;
		max-width: 225px;
		height: 3px;
		background: $candy-cane;
		position: absolute;
	}

	&__text {
		text-align: center;
		animation: blinker 2s linear infinite;
	}

}

